{% extends "base.html" %}

{% block title %}
Your Virtual HR - HR ID Verification
{% endblock %}

{% block styleInclude %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .main_card {
        background-color: maroon;
        color: greenyellow;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 40px;
        margin-top: 100px;
    }

    .form-container {
        text-align: center;
    }

    .form-container p {
        font-size: 20px;
        margin-bottom: 20px;
        color: greenyellow;
    }

    .form-control {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: border-color 0.3s ease;
    }

    .form-control:focus {
        outline: none;
        border-color: #800000;
    }

    .btn-danger {
        background-color: #800000;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }

    .btn-danger:hover {
        background-color: #a30000;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card main_card">
                <div class="card-body">
                    <div class="form-container">
                        <form method="post">
                            <p>What is your unique HR ID?</p>
                            <input type="number" name="response" class="form-control" required />
                            <input type="submit" value="Submit" class="btn btn-danger mt-3" />
                        </form>
                        {% if message %}
                        <p>{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
