{% extends "base.html" %}

{% block title %}
Your Virtual HR - Resume Ranking System
{% endblock %}

{% block styleInclude %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  .navbar {
    width: 100%;
    background-color: #800000; /* Maroon */
    color: #fff; /* White text */
    padding: 10px;
    text-align: center;
    top: 0;
    z-index: 1000;
  }

  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }

  .nav-link {
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 18px;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .main_content {
    padding-top: 80px;
    text-align: center;
  }
  .main_card {
    background-color: #800000; /* Maroon */
    color: #fff; /* White text */
    padding: 50px;
    border-radius: 15px;
    text-align: center;
  }

  .main_card h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: greenyellow;
  }

  .img-container {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(178, 216, 47);
  }

  .img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .sign_in {
    border: none;
    border-radius: 4px;
    margin: 20px;
    opacity: 0.85;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    background-color: greenyellow; /* Maroon */
    color: #800000;
    padding: 15px 30px; /* Adjusted padding */
    transition: background-color 0.3s ease;
  }

  .sign_in:hover {
    background-color: rgb(111, 157, 42); /* Darker Maroon */
    color: #f7f7f7;
    border-radius: 15px;
  }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 main_card">
        <h1>Welcome To Our Advanced Resume Ranking System For NFT Talent And Skill Acquisition.</h1>
        <div class="img-container">
          <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/joblogo.png') }}" alt="Your Virtual HR Logo"/>
        </div>
        <a href="/login" class="btn btn-sm sign_in mx-auto d-inline-block">
          <i class="fas fa-user me-2"></i>Applicant Login
        </a>
        <a href="/HR" class="btn btn-sm sign_in mx-auto d-inline-block">
          <i class="fas fa-user-tie me-2"></i>HR Login
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
